<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit your message</title>
</head>

<body>
    <h3> Edit you chat <%= chats.id %>
    </h3>
    <h3>this message send from <%= chats.from %> to <%= chats.to %>
    </h3>
    <form action="/chats/<%= chats.id %>?_method=PUT" method="POST"> 
        <textarea name="message" value="<%= chats.message %>"><%= chats.message %> </textarea>
        <br>
        <br>
        <button>update</button>
    </form>
</body>

</html>